:root {
    --primary: rgb(145, 60, 214);
    --secundary: rgba(132, 25, 255, 0.548);
    --light: rgba(212, 212, 212, 0.575);
    --text: rgba(65, 65, 65, 0.863);
    --success: rgb(0, 122, 75);
    --danger: rgba(255, 63, 49, 0.938);
    --white: #fefefe;
}

*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    color: var(--text);
}

.title {
    position: relative;
    padding-bottom: 20px;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: var(--primary);
        width: 6px;
        height: 6px;
        border-radius: 50%;
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: var(--primary);
        width: 100px;
        height: 5px;
        margin-left: 10px;
        border-radius: 3px;
    }
}

.icon-danger {
    background-color: rgba(255, 50, 50, 0.288);
    color: rgba(255, 50, 50, 0.76);
}

.icon-success {
    background-color: rgba(50, 255, 170, 0.411);
    color: rgba(24, 204, 129, 0.76);
}

.icon-info {
    background-color: rgba(50, 146, 255, 0.253);
    color: rgba(50, 146, 255, 0.76);
}

.btn-send {
    background-color: var(--primary);
    color: var(--white);
    transition: filter .3s;
    &:hover {
        color: var(--light);
        filter: brightness(.8);
    }
}