
.header_page {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.842) 70%,transparent),
                                url('../assets/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .nav_page {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100px;
        border-bottom: 1px solid rgba(102, 0, 185, 0.247);

        .nav_brand {
            font-size: 32px;
            font-weight: bold;
            color: #333333;
            span {
                color: var(--primary);
            }
        }

        > ul {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 50px;

            a {
                color: var(--text);
                position: relative;
                padding-bottom: 48px;
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0%;
                    height: 3px;
                    background-color: var(--primary);
                    transition: width .3s;
                }
                &:hover::before {
                    width: 100%;                    
                }
            }
        }
    }

    .content {
        margin-top: 110px;
        width: 100%;
        height: auto;
        h1 {
            margin-bottom: 30px;
            font-weight: 700;
        }
        p {
            font-size: 16px;
            margin-bottom: 30px;
        }
        a {
            background-color: var(--success);
            color: var(--white);
            padding: 10px 30px;
            transition: filter .3s;
            &:hover {
                filter: brightness(.8);
            }
        }
    } 
}

.box_header{
    margin-top: -4%;
    margin-bottom: 10%;
    width: 100%;
    height: auto;
    .box {
        width: 100%;
        height: 100%;
        background-color: var(--white);
        padding: 25px 20px;
        border-radius: 10px;
        box-shadow: 0px 6px 18px rgba(112, 112, 112, 0.288);
        h4 {
            margin-bottom: 20px;
            font-weight: 700;
            color: var(--primary);
            text-transform: uppercase;
        }
    }  
}